@mixin svg-size( $width, $height: null) {
    @if($height) {
        background-size: $width $height;
        width: $width;
        height: $height;
        min-width: $width;
        min-height: $height;
    }
    @else {
        background-size:$width;
        width: $width;
        height: $width;
        min-width: $width;
        min-height: $width;
    }
}