$background-main-color: #3c3c3c;
$background-color: #f0f0f0;
$color-error: #ff5a5f;
$color-ok: #087e8b;
$color-active: #c1839f;

$color-main: #0078e7;
$color-blue: rgb(66, 184, 221);
$color-green: rgb(28, 184, 65);
$color-red: rgb(202, 60, 60);
$color-orange: rgb(223, 117, 20);
$color-grey: #aaaaaa;
$element-spacing: 0.6rem;
$content-spacing: 2.5rem;
$container-spacing: 1.5rem;
$tablet-width: 480px;
$desktop-width: 1024px;