@import '../utils/index';

* {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  & {
    margin: 0;
  }

  &+* {
    margin-bottom: 1.5rem !important;
  }

  *+& {
    margin-top: 1.5rem !important;
  }
}

hgroup {
  display: flex;
  flex-direction: row;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  @include breakpoint($desktop-width) {
    flex-direction: row;
    justify-content: space-between;
  }

  >*+* {
    margin-top: $element-spacing;

    @include breakpoint($desktop-width) {
      margin-top: 0px;
    }
  }

  &+* {
    margin-top: $container-spacing !important;
  }

  .hgroup-info {
    margin-left: $element-spacing;
    cursor: pointer;
  }
}