@import '../utils/index';
.automessages {
    >*+* {
        margin-top: $element-spacing;
        display: inline-flex;
    }
    &__items {
        >*+* {
            margin-top: $element-spacing;
        }
        display: flex;
        flex-direction: column;
    }
    &__create {
        @include button;
        @include prepend-svg("../../svg/plus.svg", 1rem, #fff);
    }
    &__header {
        @include header-nm;
    }
    &__buttons {
        @include autoflex;
    }
}