@import '../utils/index';

.channel-users {
    >*+* {
        margin-top: $element-spacing;
    }

    &__description {
        display: none;

        @include breakpoint($desktop-width) {
            display: inline-flex
        }
    }

    &__hgroup {
        >* {
            line-height: 2.25rem;
        }

        display: flex;
        flex-direction: column;
        flex-wrap:nowrap;

        @include breakpoint($desktop-width) {
            flex-direction: row;
            justify-content: space-between;
        }

    }

    &__search-input-button {
        cursor: pointer;
        background-color: $color-main;

        &:hover,
        &:focus {
            background-color: shade($color-main, 25%);
        }

        padding-left: $element-spacing;
        padding-right: $element-spacing;
    }

    &__search-input {
        display: inline-flex;
        margin-top: $element-spacing;

        @include breakpoint($desktop-width) {
            margin-top: 0px;
        }

        input {
            flex-grow: 2;
            width: 20rem;

        }

    }

    &__header {
        @include header-nm;
    }

    &__container {
        margin-left: -0.2rem;
        margin-right: -0.2rem;
        display: flex;
        flex-wrap: wrap;

    }

    &__user-link {
        @include button;
        margin: 0.2rem;
        display: inline-flex;
        flex-grow: 2;
        justify-content: center;

        >* {
            font-weight: bolder;
        }
    }
}