@import '../utils/index';

.checkbox {
    input {
        display: none;
    }
    input:checked+label:before {
        color: black;
    }

    label:hover:before {
        border-color: black;
        color: $color-grey !important;
    }

    label {
        display: flex;
        align-items: center;
        cursor: pointer;
        &:before {
            color: white;
            content: "\2714";
            font-weight: bolder;
            font-size: 0.7rem;
            display: block;
            background-color: white;
            background-size: 0.7rem;
            background-repeat: no-repeat;
            background-position: center;
            text-align: center;
            align-items: center;
            background-color: white;
            min-width: 1rem;
            min-height: 1rem;
            align-self: start;
            margin-right: 0.5rem;
            width: 1rem;
            height: 1rem;
            border: 1px solid grey;
            transition: border-color 0.3s ease-in-out, color 0.15s ease-in-out;
        }
    }
    &--error {
        label {
            color: $color-error;
            font-weight: bolder;
        }
    }

}