@import '../utils/index';

@keyframes loading-shown {
    0% {
        opacity: 0;
        visibility: visible;
    }

    1% {
        //   visibility: visible;
    }

    100% {
        opacity: 1;

    }
}

@keyframes loading-hidden {
    0% {
        opacity: 1;

    }

    99% {
        opacity: 0;
    }

    100% {
        visibility: hidden;

    }
}

.loading {
    &--hidden {
        animation-name: loading-hidden;
        animation-duration: 0.4s;
        //opacity: 0;
        //visibility: hidden;
    }

    animation-fill-mode: forwards;
    opacity: 0;
    animation-name: loading-shown;
    animation-duration: 0.1s;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    &__backdrop {
        display: inline-flex;
        border-radius: 5px;
        width: 70px;
        height: 70px;
        background: rgba(0, 0, 0, 0.5);
        justify-content: center;
        align-self: center;

    }

    &__spinner {
        display: inline-flex;
        width: 50px;
        height: 50px;
        border: 6px solid $color-blue;
        border-radius: 50%;
        border-top-color: $color-main;
        animation: spin 1s ease-in-out infinite;
        align-self: center;
    }
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}