@import "../utils/index";
.paginator {
    display: flex;
    justify-content: center;
    &__item {
        border-radius: 2px;
        display: inline-flex;
        justify-content: center;
        background-color: white;
        font-weight: bold;
        @include mshadow;
        margin: 2px; //  border: 1pt solid $background-main-color;
        color: $background-main-color;
        cursor: pointer;
        &__content {
            text-align: center;
            min-width: 3rem;
            padding:0.7rem 1rem 0.7rem 1rem
        }
        &:hover {
            color: $background-color;
            background: $background-main-color;
        }
        &__selected {
            color: $background-color;
            background: $color-main !important; //    border-color: $color-main  !important;
            cursor: default;
        }
        &__inactive {
            background-color: white !important;
            color: darkgrey !important;
        }
    }
}