@import '../utils/index';
.songrequests {
    max-height: calc(100vh - 6.35rem);
    @include breakpoint($desktop-width) {
        max-height: calc(100vh - 3.5rem);
    }
    &--noplayer {
        max-height: calc(100vh - 2.85rem);
        @include breakpoint($desktop-width) {
            max-height: 100vh;
        }
    }
    overflow-y: auto;
    &__human-readable-duration {
        margin-top: $element-spacing !important;
    }
    >*+* {
        margin-top: $element-spacing;
    }
    &__settings {
        width: 100%;
        margin-top: $container-spacing;
        >*+* {
            margin-top: $container-spacing;
        }
        button {
            width: 100%;
            @include breakpoint($desktop-width) { 
                width: auto;
            }
        }
    }
    &__container {
        margin-bottom: 1rem;
    }
    &__requests {
        width: 100%;
        margin-top: $container-spacing;
        >*+* {
            margin-top: $element-spacing;
        }
        @include breakpoint($desktop-width) {
            width: 100%; //  padding-left: $element-spacing;
        }
    }

    &__buttons {
        @include autoflex;
    }

 
 

    &__hgroup {
        @include stretchedflex;
    }
    &__header {
        @include header-nm;
    }

    &__player-container {
        &--hidden .youtube-player {
            height: 0px !important;
        }
        width: 100%;
        >* {
            width: 100%
        }
        @include breakpoint($desktop-width) {
            width: 100%;
        }
    }
}