@import '../utils/index';

.songrequests-library {
    min-height: calc(100% - 9rem);

    .songrequests--noplayer & {
        min-height: calc(100% - 5rem);

    }

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    >*+* {
        margin-top: $element-spacing;
    }

    &__items {
        >*+* {
            margin-top: $element-spacing;
        }

        flex-grow:2;
    }

    &__header {
        font-size: 1.3rem;

    }
}